nav.container {
  display: flex;
  flex-direction: row;

  #logo {
    margin-right: auto;
  }

  ul {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-r: 1rem;

    li {
      &:last-child {
        img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }
      }

      &:first-child {
        a {
          img {
            &:hover {
              filter: brightness(0) saturate(100%) invert(41%) sepia(100%) saturate(330%) hue-rotate(318deg) brightness(96%) contrast(94%);
            }
          }
        }
      }

      &.desktop-only {
        display: none;
      }
    }
  }
}

/* Media Queries */
@media (min-width: 768px) {
  nav.container {
    ul {
      gap: 1.5rem;

      li.desktop-only {
        display: inline;
      }

      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
